<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.peercast.pecaplay">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".PecaPlayApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:supportsRtl="false"
            android:label="@string/app_name"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".PecaPlayActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme"
                android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>

        <activity
                android:name=".prefs.SettingsActivity"
                android:theme="@style/AppSettingTheme"
                android:label="@string/settings_activity"/>

        <activity
                android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
                android:theme="@style/AppSettingTheme"
                />
        <activity
                android:theme="@style/AppSettingTheme"
                android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
                />

        <provider
                android:name=".app.SuggestionProvider"
                android:authorities="org.peercast.pecaplay.app.SuggestionProvider"
                android:exported="false"/>

    </application>

</manifest>